footer {
    position: relative;
    height: 8vh;
    width: 100%;
    background-color: #242222;
}

p.copyright {
    position: absolute;
    width: 100%;
    color: #fff;
    font-size: 2vw;
    text-align: center;
    bottom:0;
}

@media screen and (max-width: 750px) {
    p.copyright {
        position: absolute;
        width: 100%;
        color: #fff;
        font-size: 8vw;
        text-align: center;
        bottom:0;
    }
}
